/* PokerTable.css */
.poker-table {
    width: 80vmin;
    height: 80vmin;
    background-color: #228B22; /* Green table color */
    border-radius: 50%; /* Circular table */
    position: relative; /* To position players and other elements */
    margin: 20vh auto 0 auto; /* The top margin is set to 3vh */
    /* padding: 50px;  */
    overflow: visible;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Some shadow to give depth */
}

.community-cards {
  display: flex;
  justify-content: center; /* align cards horizontally in the center */
  position: relative;
  top: 50%; /* adjust according to your design */
  left: 50%;
  transform: translate(-50%, -50%); /* centers the cards on the table */
  gap: 10px; /* Centering trick */
}

.card {
    width: 70px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    /* ... other styles ... */
}

.deal-flop-btn {
  position: relative;
  bottom: -10%; /* adjust to your design */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

