.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.player:nth-child(1) {
  top: calc(5% + 3vh);
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
}

.player:nth-child(2) { top: 20%; left: 110%; }

.player:nth-child(3) { 
    bottom: -10%; 
    left: 105%; 
}
.player:nth-child(4) { 
    bottom: -35%; 
    left: 50%; 
}
.player:nth-child(5) { 
    bottom: -10%; 
    left: -5%; 
}

.player:nth-child(6) { top: 20%; left: -5%; }

.player-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.player-cards {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.player-chips {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.player-actions {
  display: flex;
  gap: 10px;
}

.player-avatar img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%; /* makes the image circular */
}

.player-actions input[type="number"] {
    width: 60px; /* Adjust this value to your liking */
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.blind-tag,
.folded-tag {
    background-color: #eee;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
}

.player-folded .player-avatar img,
.player-folded .player-cards {
    filter: grayscale(100%);
    opacity: 0.6;
}
